language: java
jdk: oraclejdk8
dist: trusty

script:
  - ./gradlew clean jar

stages:
  - test
  - targets

jobs:
  include:
    - stage: targets
      name: "ui"
      install: skip
      script: 
      - COVERAGE=0.50 ./gradlew -p ./monolithic/ui check

    - stage: targets
      name: "cart service"
      install: skip
      script: 
      -COVERAGE=0.50 ./gradlew -p ./monolithic/service/cart check
      
    - stage: targets
      name: "user service"
      install: skip
      script: 
      - COVERAGE=0.50 ./gradlew -p ./monolithic/service/user check          

    - stage: targets
      name: "order repository"
      install: skip
      script: 
      - COVERAGE=0.31 ./gradlew -p ./monolithic/repository/order check

    - stage: targets
      name: "cart repository"
      install: skip
      script: 
      -COVERAGE=0.31 ./gradlew -p ./monolithic/repository/cart check

    - stage: targets
      name: "product repository"
      install: skip
      script: 
      - COVERAGE=0.31 ./gradlew -p ./monolithic/repository/product check            

    - stage: targets
      name: "user repository"
      install: skip
      script: 
      - COVERAGE=0.31 ./gradlew -p ./monolithic/repository/user check   

after_success:
  - find . -name jacocoTestReport.csv|xargs cat|awk -F',' '{print $3" "$4" "$5}'

deploy:
  provider: script
  script: echo 'WIP'
