language: java

jdk:
- oraclejdk8
- oraclejdk9

dist: trusty

env:
  matrix:
  - CHECK_TARGET=monolithic/ui
  - CHECK_TARGET=monolithic/service/cart
  - CHECK_TARGET=monolithic/service/user
  - CHECK_TARGET=monolithic/repository/order
  - CHECK_TARGET=monolithic/repository/cart
  - CHECK_TARGET=monolithic/repository/product
  - CHECK_TARGET=monolithic/repository/user
  global:
    secure: f8GJ4+T6qUWIwc2L6Vt/9bwyIz4RXt/INp5mUOvb4CYSN11Jqg8KvYBQ7lliJwNM3obGtUIGSybVo6/bUfcEBosyXVit1d9zGZXTdwutD2zVHehDb1gVeBpfdPWCV5pHB+X+0ibhyzXV093VJau8LDEoVz3nMjc6Y15P1cAYnv6yBDUbXX0ji7DKnONOptgqos9K41Y/VL1hwG2m3xDFD3cFLlwuMXg84heplKiRqEm7WUaLSq+RGbeDTYjZ1LuhJaNq39YA3QbkO0UIi3fDWkVrtbfSKWvTBFtSTI1tXqOM3NerG02A7oHMmwUxzmyXD6WMpVS8o/2TxzOSYXkqgehaqiwIIw0fcTvSoirqPWTY8g0vEVs0psP8jqVAQol9sGCRYQxKwA2WCRjFSZp1z6LpPXoqzJSLZ9hDAM76xpJXo18dp+NXJIbqjhBmuf7cwdR9T3mLZOwe+uuOgnnn2G+icqk4HHPTD78fVvf0OX7lgJvO7ppFf1BXp39cYS7aCXsQAUWG3Q2G53VkJprdpAMxW6H3dldkFFeea3XTbN4VGZflAKhAFjzEu7YWizD+QAQsITOMXEddVlZf1YOJfUktJxtq9lT21LfI1s44NmW0GauQLjUVqx4m2ormRG50a0Q0K/uGmzcUIi7+KfInzAfYvcmsBJGZSia8h30W4cY=

install:
- "./gradlew clean jar"

script:
- if [[ $CHECK_TARGET == "monolithic/repository/order" || $CHECK_TARGET == "monolithic/repository/user" ]]; then 
COVERAGE=0.31 ./gradlew -p ./$CHECK_TARGET check; 
else 
COVERAGE=0.5 ./gradlew -p ./$CHECK_TARGET check; fi

after_success:
- find . -name jacocoTestReport.csv|xargs cat|awk -F',' '{print $3" "$4" "$5}'

deploy:
  provider: script
  script: bash -c "echo \"${DOCKER_PASSWORD}\" | docker login --username \"${DOCKER_LOGIN}\" --password-stdin"
  on:
   all_branches: true
