language: java
jdk: oraclejdk8
dist: trusty

env:
  - CHECK_TARGET=monolithic/ui
  - CHECK_TARGET=monolithic/service/cart
  - CHECK_TARGET=monolithic/service/user
  - CHECK_TARGET=monolithic/repository/order
  - CHECK_TARGET=monolithic/repository/cart
  - CHECK_TARGET=monolithic/repository/product
  - CHECK_TARGET=monolithic/repository/user

install: 
  - ./gradlew clean jar

script:
  - if [ "${CHECK_TARGET}" = "monolithic/repository/order" || "${CHECK_TARGET}" = "monolithic/repository/user" ]; then
    COVERAGE=0.31 ./gradlew -p ./$CHECK_TARGET check;
    else
    COVERAGE=0.5 ./gradlew -p ./$CHECK_TARGET check;
    fi;

after_success:
  - find . -name jacocoTestReport.csv|xargs cat|awk -F',' '{print $3" "$4" "$5}'

deploy:
  provider: script
  script: echo 'WIP'